# Rust
/windows/target/
/windows/.cargo/
/target/
**/*.rs.bk

# General
*.o
*.a
*.so
.DS_Store

# Editor
/.vs/
/.vscode/
*.user
*.sln.DotSettings.user
launchSettings.json

# IDE
.idea/
*.swp
*.swo
*~
.vscode/settings.json

# OS
Thumbs.db
.env
.env.local

# Logs
*.log
logs/
